.container{
    margin-bottom: 100px;
}

.slide-bg{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:#ff287c;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#F207A0 0%,#ff287c 100% );
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;

}
.cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 15px;
}
.cat1{
    background-color: #f7b731;}
    
.cat2{
    background-color: #4b7bec;
}
.cat3{
    background-color: #eb3b5a;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}